.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
.kotlin/

local.properties

*.iml
*.iws
*.ipr
.idea/

.DS_Store
Thumbs.db

*.apk
*.aab
*.aar
*.ap_
*.dex
*.class

*.keystore
*.jks

*.log
*.hprof
